#list{
    min-height:250px;
    width:1000px;
    text-align: center;
    
}
#list h1{
    color: #764e88;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

#list h2{
    color: #764e88;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:0;
}
#list ul{
    margin-right: 50px;
}
#listTitle{
    display: block;
    align-content: center;
    margin-top: 20px;
   
}
#listTitle img{
    height:40px;
    margin-left: 20px;
    position: relative;
    bottom: 35px;
    right: 10px;
}

.list{
    display:inline-block;
    justify-content: center;
    color:rgb(0, 0, 0);
}
#listItem{
    margin: 50px;
    display:inline-block;
    justify-content: center;
  
}
#listItem h4{
    font-style: italic;
    color:#62486e!important;
}
#total{
    display:flex;
    justify-content: space-around;
    width: 100%;
    background-color: #4C3258;
}
#total h3{
    font-weight: 500;
}
#total div::first-line{
    text-transform: uppercase;
    text-decoration: underline;
    color:white;
}
.totCal {
    font-size: 36px;
    color:white;
    /* color:#B3404A;     */
}
#ulItem{
    /* background: linear-gradient(162deg, rgb(245, 172, 251) 0%, rgba(255,255,255,0) 100%); */
    display:inline-block;
    justify-content: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.239);
    width: 950px;

}