#list{
    min-height:500px;
    width:1000px;
    text-align: center;
    background-color: rgb(61, 107, 61);
    
}
#list h2{
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
#list ul{
    margin-right: 50px;
}
#listTitle{
    display: inline-flex;
    margin-top: 20px;
   
}
#listTitle img{
    height:80px;
    margin-left: 20px;
}

.list{
    display:flex;
    justify-content: center;
    color:white;
     background-color: rgb(61, 107, 61);
}
#listItem{
    margin: 50px;
    display:block;
    justify-content: center;
  
}
#listItem h4{
    font-style: italic;
    color:#af7a39;
}
#total{
    margin-top: 60px;
    display:flex;
    justify-content: space-around;
}
#total div::first-line{
    text-transform: uppercase;
    text-decoration: underline;
}
.totCal {
    font-size: 36px;
}
#ulItem{
    display:flex;
    justify-content: space-around;
    border:5px solid black;
}