#header{
    color:#b3404a;
    /* background-color: rgb(105, 194, 105); */
    /* background-color: #f4b2b0; */
    height: 130px;
    font-size: 36px;
    padding-bottom: 20px;
    position: relative;
    bottom:40px;
    /* background-color: rgb(61, 107, 61); */
}
#cont{
    /* background-color: #f4b2b0; */
}
#nutriments{
    margin-top: 50px;
    display:flex;
    justify-content: center;
    position: relative;
    bottom:40px;
    
    /* background-color: rgb(61, 107, 61); */
}
.addBtn{
    position: relative;
    bottom:100px;
    left:300px;
    height: 60px;
    width:150px;
    background-color: #62486e!important;
    /* background-color: rgb(105, 194, 105)!important; */
    border: none;
}
.addBtn .MuiButton-label{
    color:rgb(255, 255, 255);
    font-weight: bolder;
}
#nutriments p{
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    top:20px;
}
#nutriments div{
    margin-right:50px;
    /* background-color: rgb(105, 194, 105); */
    background-color: whitesmoke;
    width:200px;
    height:200px;
    border-radius: 50%;
    border : 20px solid #694772;
    
}
#nutriments img{
    position: relative;
    top:30px;
    width:70px;

}
#cal{
    position:relative;
    bottom:20px;
    color: #7d5590;
}
#header h1{
    padding: 20px 0px 20px 0px;
    margin-top: 100px;
    color: #4c3258;
    font-size: 50px;

}