#header{
    color:white;
    background-color: rgb(105, 194, 105);
    height: 180px;
    font-size: 36px;
    padding-bottom: 20px;
    position: relative;
    bottom:40px;
    /* background-color: rgb(61, 107, 61); */
}
/* #cont{
    background-color: rgb(61, 107, 61);
} */
#nutriments{
    display:flex;
    justify-content: center;
    position: relative;
    bottom:40px;
    /* background-color: rgb(61, 107, 61); */
}
#nutriments p{
    color:white;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    top:20px;
}
#nutriments div{
    margin:20px;
    background-color: rgb(105, 194, 105);
    width:200px;
    height:200px;
    border-radius: 50%;
}
#nutriments img{
    position: relative;
    top:30px;
    width:70px;

}
#cal{
    position:relative;
    bottom:20px;
}