#home{
    text-align: center;
    padding-left: 100px;;
    padding-right: 100px;
    
}
.border{
    
}
.title{
    text-align: center;
    color:#da3528;
    text-transform: uppercase;
    font-size:56px;
    letter-spacing: 10px;
}
.title2{
    position: relative;
    bottom:20px;
    right:140px;
    text-align: center;
    color:#da3528;
    text-transform: uppercase ;
    text-decoration: underline;
    font-size:12px;
    letter-spacing: 2px;
}
#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
}
.MuiFormControl-root {
    margin:20px !important;
}
.MuiAutocomplete-inputRoot{
    width:300px!important;
}
.MuiAutocomplete-root{
    width: 300px !important;
}
#free{
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
}
#form button{
    height:50px;
    position: relative;
    top:23px;
    left:23px;
}