
#home{
    text-align: center;
    /* background-color: rgba(202, 202, 189, 0.726); */
    background-color: rgba(235, 209, 236, 0.726);
    /* margin-left: 5%;
    margin-right: 5%; */
    
}


.title{
    text-align: center;
    color:beige;
    text-transform: uppercase;
    font-size:56px;
    letter-spacing: 10px;
    /* background-color: rgb(238, 201, 201); */
    background-color: #4c3258;;
    margin: 0;
    padding: 20px 0px 20px 0px;


}
.title2{
    position: relative;
    bottom:20px;
    right:140px;
    text-align: center;
    color:#680c13;

    text-transform: uppercase ;
    text-decoration: underline;
    font-size:12px;
    letter-spacing: 2px;
}
.MuiButton-outlinedSecondary{
    color:inherit;
    border:1px solid #4c3258!important;
}
.MuiOutlinedInput-notchedOutline{
    border:1px solid #4c3258!important;
}
.MuiInputLabel-outlined{
    color:#4c3258!important;
}
.MuiButton-outlinedSecondary{
    color:#4c3258!important;
    font-weight: 400!important;
}
#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
}
.MuiFormControl-root {
    margin:20px !important;
}
.MuiAutocomplete-inputRoot{
    width:300px!important;
}
.MuiAutocomplete-root{
    width: 300px !important;
}
#free{
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
}
#form button{
    height:50px;
    position: relative;
    top:23px;
    left:23px;
}

.border{
    padding-top: 40px;
}
